html {
  cursor: default;
}

.checkout {
    padding-top: 12%;
}

.cardElement {
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    padding: 1.5%;
    border-radius: 5px;
}
.card-details {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.donate-button {
    float: right;
}

#makeadonation{
    color:white;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

.buttongroup{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttongroup Button{
    margin-right: 10px;
    margin-left:10px;
    width:60px;
    height:50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size : large;
    background-color: #bdbdbd;
    color : rgba(14, 12, 12, 0.68);
}

.lineup {
    /*padding-bottom: 2%;*/
    text-align: center;
    width: 500px;
    border: 200px;
    margin:auto;
}

.lineup Button {
  background-color: #F1802D;
  color : white;
  font-weight: bold;
  font-size: large;
  text-align: center;
}


.ModalNav {
    text-align: center;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(14, 12, 12, 0.68);
}

.ModalNav :hover{
  background-color: #F1802D;
  color : white;
  font-weight : bold;
  font-size: large;
  text-align: center;
}

.ModalNav Button {
  background-color: #F1802D;
  color : white;
  font-weight : bold;
  font-size: large;
  text-align: center;
  margin: 10px;
  border: solid 1px;
}

.buttongroup :hover {
  background-color: #F1802D;
  color : white;
  font-weight : bold;
  font-size : large;
  text-align : center;

}

.buttongroup :focus {
    background-color: #F1802D;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.personalinfo {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.logo {
    max-width: 100%;
}

/********************/

/********************/

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }
  *:focus {
    outline: none;
  }
  html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  

  #stepper{
    margin-bottom: 30px;
  }

  #how-often{
    position:relative;
    top:50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

#donate_anon{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
  margin-left: 10px;
  display: inline-block;
}

.inputcontainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: auto;
 }
 
.hr-text{
  display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#081f4c), to(#e5e5e5));
}
.paragraph{
  font-size: 14px;
}

.summary-container{
  text-align: center;
}

.map{
  padding-left: 5%;
  padding-top: 2%;
}
.summaryStyling{
  padding-top: 3%;
  text-align: center;
  font-style: italic;
}

.summaryStyling h3 {
  font-size: 20px;
  font-weight: normal;
}

.usersOrgsDisplay {
  padding-left: 30%;
  padding-right: 30%;
}