<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upcoming Events</title>
  <link rel="stylesheet" href="/src/components/UpcomingEvents/css/style.css">
</head>
<body>
  <header class="page-header">
      <div class="header-logo">
        <img src="/src/components/UpcomingEvents/images/logo.png" alt="logo">
      </div>
        <nav class="main-nav">
          <ul>
            <li><a href="#"></a>WHO WE ARE</li>
            <li><a href="#"></a>WHAT WE DO</li>
            <li><a href="#"></a>EVENTS</li>
            <li><a href="#"></a>VOLUNTEER</li>
            <li><a href="#"></a>BLOG</li>
          </ul>
        </nav>
        <nav class="right-nav">
          <ul>
            <li><a href="#"></a>GET INVOLVED</li>
            <li><a href="#"></a>DONATE</li>
          </ul>
        </nav>
  </header>
</body>
</html>