:root{
    --header-color: none;
}

img{
    border:0;
    height:auto;
}

.site-header{
    background-color: var(--header-color);
    display: block;
    z-index: 2;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
}

.site-branding{
    width: auto;
    float:left;
    padding: 23px 0 23px 30px;
}

.site-header img{
    width: 100%;
    max-width: 125px;
    height:auto;
    display:block;
    border: 0;
}

.main-navigation{
    float:right;
    display:none;
}

@media only screen and (min-width: 960px) {
    .main-navigation {
        display: block;
        position: absolute;
        top: 0;
        left: 225px;
        right: 300px;
    }
}

.main-menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    max-width: 550px;
    margin: auto;

}

.main-navigation ul{
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    position: relative;
    margin-top: 20px;

}

.main-navigation h3{
    display:block;
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14 px;
    font-weight: 600;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.buttons{
    display:block;
    position: absolute;
    right: 30px;
    top: calc(50% - 18px);
    margin:0;
    padding: 0;
    list-style:none;
}

.buttons li::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background: #F99200;
    z-index: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 300px;
}

.buttons li{
    display: inline-block;
    line-height: 1;
    border-radius: 3px;
    background: #FF4901;
    border: 2px solid #FF4901;
    overflow: hidden;
    position: relative;
}

.buttons li:first-child{
    border: 2px solid #F99200;
    background: none;
}

.buttons li:not(:last-child){
    margin-right:10px;
}

.buttontext{
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    padding: 8px 15px;
    position: relative;
    z-index: 1;
}

.buttons li:hover{
    background: #F99200;
    border-color: #F99200;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,29,52,.95);
    z-index: 3;
  }

.DonationModal{
    position:absolute;
    background-color: #e5e5e5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

.DonationModal:focus{
    outline:none;
}

#dropdown-button{
    display:block;
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14 px;
    font-size: .875rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    background: none;
    border: none;
    outline:none;
    font-weight: 600;
    margin-top: -7px;
}

#dropdown-button:hover{
    color:#F99200;
}

#dropdown-button{
    font-size: 1.8rem;
    padding-bottom: 0.2rem;
}
.event-item{
    padding: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.event-item:hover{
    color:#F99200;
}

.dropdown-items{
    position:absolute;
    width:200px;
    margin-top: 15px;
    right:-66px;
    background:white;
    color: #001D34;
    text-align:center;
    border: 1px solid #001D34;
}

.dropdown-items:after, .dropdown-items:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-items:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.dropdown-items:before {
	border-color: rgba(0, 29, 52, 0);
	border-bottom-color: #001D34;
	border-width: 11px;
	margin-left: -11px;
}
