/*======= BASE STYLE ========*/

*{
  box-sizing: border-box;
}

 body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  overflow-x: hidden;
 
  min-height: 100vh
 }

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
 }
 

 @media(min-width: 700px) {
   /* Global Classes */
   .h4 {
    position: relative;
    font-family: D-DIN;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    display: block;
   }

   .circles {
    position: relative;
    width: 750px;
    height: 750px;
    border-radius: 50%;
   }

   .content-title {
    font-family: D-DINCondensed;
    font-weight: 540;
    line-height: 1.1;
    font-size: 26px;
   }
  
   .content-title2 {
    letter-spacing: 6%;
    text-align: end;
    font-size: 42px;
    font-family: DIN-Black;
    font-weight: 700;
    line-height: .88;
   }
  
   .content-title3 {
    font-family: DIN-Black;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
   }
  
   .li {
    position: relative;
    font-family: MinionPro-Regular;
    list-style: none;
    font-weight: bold;
    line-height: 1.9rem;
    font-size: 12px;
   }
  
   .events-container {
    padding-bottom: 2.5rem;
    
   }
      /* Header */

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
    }

    .player-wrapper {
      position: relative;
      padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
      
      }

  .video-header h1{
    position: relative;
    font-size: 94px;
    text-align: center;
    font-weight: bold;
    color: #0e1f2c;
    line-height: 0.9;
    margin: 0;
    white-space: nowrap;
    bottom: 6em;
    z-index: 1;
  }
 
  .video-header h4 {
    position: relative;
    font-style: italic;
    color: #f36c21;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    font-size: 24px;
    font-family: MinionPro-Regular;
    right: 0.2em;
    bottom: 23em;
    z-index: 1;
   }
 
  

 
 
   
 /* Section A */

 #section-a {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  color: #0e1f2c;
  margin: 0;
 }


 .sponsor-header {
  position: relative;
  top: 18%;
  color: #0E1F2C;
  font-size: 28px;
  font-family: Poppins-Regular;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
 }

 .sponsors {
   position: relative;
   top: 20%;
 }

/* Section B */

 #section-b {
  position: relative;
  top: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0e1f2c;
  font-size: 0;
  height: 1000px;
 }

#section-b .content-wrap {
  position: relative;
  top: 30%;
}

#summary-wrap {
  position: relative;
  bottom: 10%;
}
 #section-b #events-summary {
   position: relative;
   padding-bottom: 1em;
   text-align: center;
   font-family: Din-Black;
   font-weight: 400;
   font-size: 18px;
   letter-spacing: 0.3em;
 }

 .divider
{
	position: relative;
	margin-top: 5px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

 #section-b #yellow-circle {
   position: relative;
   top: 10%;
   background: rgba(255, 206, 7, 0.14);
   z-index: -1;
 }

 #section-b .content-title {
  position: relative;
  left: 67.7%;
  bottom: 49.5%;
  color: #0E1F2C;
  font-family: D-DINCondensed;
  font-weight: 540;
  line-height: 1.1;
  font-size: 26px;
 }

 #section-b .content-title2 {
  position: relative;
  bottom: 50%;
  left: 13%;
  }

 .yellow-line {
    position: relative;
    width: 72%;
    height: 2px;
    background-color: #ffce07;
    opacity: 0.8;
    bottom: 51%;
    left: 26.7%;
  }

  .woman-volunteer {
    position: relative;
    bottom: 75%;
    right: 13%;
    z-index: 1;
   }

   .buttons #register-section-b {
    position: relative;
    top: 33rem;
    right: 40rem;
    background: #FF4901 ;
    border: 2px solid #FF4901;
  }
  
  .buttons #register-section-b:hover {
   background: #F99200;
   border-color: #F99200;
  }
  
  .group {
  position: relative;
  bottom: 110%;
  left: 40%;
  }

  .schedule-container1 {
    position: relative;
    bottom: 110%;
    left: 56%;
    }

  .schedule-container1 .content-title3 {
    position: relative;
    font-size: 32px;
    left: 19%;
    }
     
     
  #section-b #section-b-h4 {
    position: relative;
    color: #ffce07;
    top: 2%;
    right: 42%;
    font-family: D-DIN;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    display: block;
    text-align: end;
  }

  #divider1 {
    position: relative;
    width: 100%;
    margin: -4px 0 15px;
    
    right: 12.5%;
    display: block;
    text-align: center;
  }
  
  #divider1 span {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    background: #0d0d0d;
    border-radius: 15px;
    margin: 0 auto;
  }
  
  #spanb::before, #spanb::after {
    content: "";
    vertical-align: top;
    border-bottom: 1px solid #0d0d0d;
    position: absolute;
    top: 2pt;
    right: 9pt;
    height: 2px;
    width: 135px;
  }
  
  #spanb::after {
    left: 9pt;
    right: inherit;
  }

  #section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
  right: 42%;
  text-align: end;
  }

  #section-b #child1 {
  font-style: DIN-Black;
  font-size: 17px;
  font-weight: 600;
  }

  #section-b li {
  font-size: 16px;
  font-family: MinionPro-Regular;
  line-height: 1.5;
  color: #0e1f2c;
  }

    
 /* Section C */

 #section-c {
  position: relative;
  top: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0e1f2c;
  height: 1500px;
  }

  #section-c .content-wrap {
    position: relative;
    top: 20%;
  }
 

 #blue-circle {
  position: relative;
  background: #0e1f2c;
  opacity: 0.73;
  top: 15%;
 }

 #section-c #child2 {
  font-style: DIN-Black;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 1em;
 }

 .event-headers{
  position: relative;
  top: 28%;
 }
 #section-c .content-title {
  position: relative;
  left: 4.5%;
  color: #F36C21;
  z-index: 1;
 }

 #section-c .content-title2 {
  position: relative;
  color: #F36C21;
  text-align: start;
  z-index: 1;
  left: 0.7em;
 }


 .blue-line {
  position: relative;
 
  right: 10%;
  width: 72%;
  height: 2px;
  background-color: #0e1f2c;
 }

 
 #section-c ul {
  position: relative;
  right: 4.7%;
  
 }

 .singer {
  position: relative;
  bottom: 55%;
  left: 22%
 }

 .buttons #register-section-c {
  position: relative;
  top: 28rem;
  right: 23rem;
  background: #FF4901 ;
  border: 2px solid #FF4901;
 }
 
 .buttons #register-section-c:hover {
    background: #F99200;
    border-color: #F99200;
 }

 .stage {
  position: relative;
  bottom: 23%;
  left: 4%;
 }

 .schedule-container2 {
  position: relative;
  bottom: 57%;
  left: 2.5%;
 }

 #divider2 {
  position: relative;
  width: 100%;
  margin: -4px 0 15px;
  
  right: 21%;
  display: block;
  text-align: center;
}

#divider2 span {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #0e1f2c;
  border-radius: 15px;
  margin: 0 auto;
}

#section-c-h4 {
  color: #F36C21;
}
#spanc::before, #spanc::after {
  content: "";
  vertical-align: top;
  border-bottom: 1px solid #0e1f2c;
  position: absolute;
  top: 2pt;
  right: 9pt;
  height: 2px;
  width: 210px;
}

#spanc::after {
  left: 9pt;
  right: inherit;
}

.p3 {
  font-size: 16px;
  font-weight: light;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
 }

 #section-c-list {
  font-size: 16px;
  font-family: MinionPro-Regular;
  line-height: 1.5;
  color: #0e1f2c;
 }
  /* Section D */

  #section-d {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 2000px;
  }

  #section-d .content-wrap {
    position: relative;
    top: 16%;
  }

  #section-d .content-title {
    position: relative;
    top: 8%;
    left: 69.5%;
  }
  #section-d h2 {
    position: relative;
    top:8%;
    left: 4%;
    font-size: 41px;
  }

  .golfer{
    position: relative;
    bottom: 40%;
    right: 7%;
    z-index: 1;
  }

  .buttons #register-section-d {
    position: relative;
    top: 34rem;
    right: 45rem;
    background: #FF4901 ;
    border: 2px solid #FF4901;
   }
   
   .buttons #register-section-d:hover {
      background: #F99200;
      border-color: #F99200;
   }
   
  .golf-course {
    position: relative;
    bottom: 60%;
    left: 23.5%;
  }

  .schedule-container3{
    position: relative;
    left: 38%;
    bottom: 61%;
  }

  .schedule-container3 .content-title3 {
    position: relative;
    bottom: 70%;
  }

  #section-d-list{
    position: relative;
    right: 5.3%;
    font-size: 16px;
    font-family: MinionPro-Regular;
    line-height: 1.5;
    color: #0e1f2c;
  }

  #section-d #red-circle {
    background: #c24327;
    opacity: 0.58;
    z-index: -1;
  }

  .black-line{
    position: relative;
    top: 8%;
    left: 15%;
    width: 77%;
    height: 2px;
    background-color: #000;
    z-index: 1;
   }

   #divider3 {
    position: relative;
    width: 100%;
    margin: -4px 0 15px;
    right: 17.5%;
    display: block;
    text-align: center;
  }
  
  #divider3 #spand {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    background: #0e1f2c;
    border-radius: 15px;
    margin: 0 auto;
  }
  
  #spand::before, #spand::after {
    content: "";
    vertical-align: top;
    border-bottom: 1px solid #0e1f2c;
    position: absolute;
    top: 2pt;
    right: 9pt;
    height: 2px;
    width: 235px;
  }
  
  #spand::after {
    left: 9pt;
    right: inherit;
  }

   #footer-circle{
    position: relative;
    bottom: 48%;
    background: linear-gradient(#0E1F2C, #c24327);
    opacity: .73;
    z-index: -1;
   }

   .quote-mark{
     position: relative;
     top: 33%;
     left: 3%;
   }

  .footer-paragraph {
    position: relative;
    top: 32%;
    left: 3%;
    color: #fff;
    width: 95%;
  }
  
  #child3 {
  font-style: DIN-Black;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 1em;
  }
  /* Section E */
  #section-e{
    position: relative;
    top: 400%;
    background: #0e1f2c;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 300px;
   
  }

  .contact {
  position: relative;
  padding-top: 6em;
  padding-left: 2em;
  text-align: center;
  }

  #contact-divider {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }
  
  .connect-with-us h4 {
    position: relative;
    top: 2%;
    left: 3.6%;
  }

  #middle-connect {
    position: relative;
    left: 75%;
    top: 5%;
  }

  #connect-w-us {
      --base-size: 160; 
      --base-color: #fff; 
      --base-line-size: calc(var(--base-size) / 100 * 1px);
      --base-circle-size: calc(var(--base-size) / 50 * 1px);
      --line: linear-gradient(var(--base-color), var(--base-color));
      --circle-center: radial-gradient(var(--base-circle-size) at 50% 50%, var(--base-color), var(--base-color) 85%, transparent);
      --circle-left: radial-gradient(var(--base-circle-size) at 40% 50%, var(--base-color), var(--base-color) 85%, transparent);
      --circle-right: radial-gradient(var(--base-circle-size) at 60% 50%, var(--base-color), var(--base-color) 85%, transparent);
      --line-size: 25% var(--base-line-size);
      --circle-size: auto;
      
      width: calc(var(--base-size) * 1px);
      height: calc(var(--base-size) / 10 * 1px);
      background-image: var(--line), var(--circle-left), var(--circle-center), var(--circle-right), var(--line);
      background-size: var(--line-size), var(--circle-size), var(--circle-size), var(--circle-size), var(--line-size);
      background-position: left center, center center, center center, center center, right center;
      background-repeat: no-repeat; 
  }

  .mail-list {
    position: relative;
    left: 22%;
    padding-top: 6em;
    padding-right: 2em;
    text-align: center;
  }
 #mailing {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
 }

  .form-inline-events {
    position: relative;
    padding-top: 10em;
    right: 6%;
  }
  .social-handle {
    position: relative;
    top: 6.5%;
    left: 74.9%;
  }

  .employees {
    position: relative;
    top: 7%;
    left: 51%;
  }

  #section-e .content-wrap {
    display: flex;
    justify-content: space-between;
  }

  /* Footer */

 #main-footer {
  background: #0e1f2c;
  color: #fff;
  text-align: center;
  border-top: solid #fff;
 }

 #main-footer div {
  display: flex;
  justify-content: space-around;
 }

 #main-footer li {
  list-style: none;
 }
 .footer-container {
  background: #0e1f2c;
  color: #fff;
  overflow:hidden;
 }

 .footer-logo{
  position: relative;
  left: 5%;
 
}

.left {
  position: relative;
  right: 5em;
  padding-top: 2em;
}
 .left li {
  text-align: start;
 }

 .middle {
  align-self: center
 }

 .right {
   position: relative;
   padding-top: 2em;
   left: 2em;
   text-align: end;
 }
}

