/*======= CSS RESET ========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======= BASE STYLE ========*/
@font-face {
  font-family: D;
  src: url(/src/components/UpcomingEvents/fonts/D-DINCondensed.woff) format('woff'), url(/src/components/UpcomingEvents/fonts/D-DINCondensed.ttf) format('truetype');
}
@font-face {
  font-family: DIN;
  src: url(/src/components/UpcomingEvents/fonts/DIN-Black.woff) format('woff'), url(/src/components/UpcomingEvents/fonts/DIN-Black.ttf) format('truetype');
}
@font-face {
  font-family: MinionPro;
  src: url(/src/components/UpcomingEvents/fonts/MinionPro-Regular.woff) format('woff'), url(/src/components/UpcomingEvents/fonts/MinionPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Poppins;
  src: url(/src/components/UpcomingEvents/fonts/Poppins-Regular.woff) format('woff'), url(/src/components/UpcomingEvents/fonts/Poppins-Regular.ttf) format('truetype');
}

.body{
  font-style: 11px;
  font-family: MinionPro;
}

/*======= HEADER ========*/
@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    flex-basis: 50%;
  }
}
.page-header{
  display:flex;
  height: 51px;
  width: 100%;
  background-color: #0E1F2C;
  justify-content: center;
  
}
.header-logo, .main-nav, .right-nav {
  flex:1;
}
.page-header .header-logo {
  padding: 0px 0;
}
.page-header .main-nav {
 border-width: 1px 0;
 list-style: none;
 margin: 0;
 padding-top: 14px;
 text-align: center;
}
.page-header .main-nav a:hover {
  color: #008edd;
}
.page-header .main-nav li {
  display:inline;
  color: #fff;
}
.page-header .main-nav a {
  display:inline-block;
  padding: 8px;
}
.page-header .right-nav {
  text-align: right;
}