/*======= BASE STYLE ========*/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.events-container {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-auto-rows: minmax(100px, auto);
	grid-template-areas:
	"header"
	"section1" /*banner*/
	"section1"
	"section1"
	"section1"
	"section2" /*sponsors*/
	"section3" /*event one*/
	"section4" /*event two*/
	"section5" /*event three*/
	"section6"; /*connect and footer*/
  margin: auto;
  max-width: 100%;
  padding: 0%;


}


/*======= HEADER ========*/
.page-header{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(10px, auto);
	grid-area: header;
  background-color: #0E1F2C;
  align-self: start;
 
  
}

.page-header div{
  padding-left: 1em;
  padding-top: 1em;
}

.page-header #logo img {
  width: 225px;
  height: 33px;
}
.page-header nav {
  padding: 1em;
}
.page-header nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 11px;
}
.page-header nav ul li {
  display: inline-block;
}
.page-header .right-nav ul {
  text-align: right;
  padding-right: 14px;
}
nav{
  color: #fff;
}

.square{
  height: 64.328px;
  width: 100%;
  background-color: #001D34;
  position: fixed;
}

.site-branding-events{
  background-color: #0E1F2C;
}

/* ================= Section 1 - banner =============== */
.banner{
	grid-area: section1;
	text-align: center;
	align-items: center;
	background-image: HeaderImage;
}

.banner .background img{
  width: 100%;
  height: 500px;

}

.banner h1{
  font-size: large;
  text-color: blue;
}

.banner .centered{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-weight: bold;
  color: #0E1F2C;
  line-height: 98%;
}

.banner .quote_centered{
  position: absolute;
  left: 20%;
  top: 70%;
  font-style: italic;
  color: #FF8C00;
}
/* ================= Section 2 - sponsors =============== */

.container1 {
  text-align: center;
  font-size: 50px;
}

.sponsors{
	grid-area: section2;
	text-align: center;
}


/* ================= Section 3 - Event one =============== */


.event-one{
	grid-area: section3;
	text-align: center;
	background-color: blue;
	font-family: DIN-Black;
	font-size: 50px;
	line-height: 98%;
	color: #0E1F2C;
}

.container1 .sponsors{
  height: 30%;
  width: 30%;
  text-align: center;
}
/* ================= Section 4 - Event two =============== */


.event-two{
	grid-area: section4;
	text-align: center;
	background-color: yellow;
}

/* ================= Section 5 - Event three =============== */


.event-three{
	grid-area: section5;
	text-align: center;
	background-color: blue;
}

/* ================= Section 6 - Connect =============== */

.connect{
	grid-area: section6;
	text-align: center;
	background-color: yellow;
}

/* ================= Footer - footer =============== */

.footer{
	grid-area: section6;
	text-align: center;
	background-color: blue;
}

/* ================ having a container within a container ===========*/

.container_footer{
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas:
  "contact_info" "connect_with_us" "mailing_list"
  "terms_of_use" "oc_logo" "copyright_info";
  margin: auto;
  max-width:100%;
}

.contact h5{
  grid-area: contact_info;
}

.connect_with_us{
  grid-area: connect_with_us;
  text-align: center;
}

.connect_with_us h4{
  grid-area: mailing_list;
}

.left{
  grid-area: terms_of_use;
}

.middle{
  grid-area: oc_logo;
}

.right{
  grid-area: copyright_info;
}





