.mission-statement{
    width:100%;
    height:300px;
    background-color: white;
    display:block;
}

.mission-statement .container{
    display:table;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.mission-statement .container .child-one{
    font-size: 43px;;
    font-weight: 600;
    line-height: 1.1;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    padding-right: 40px;
    width: 40%;
    border-right: 3px solid #FF4901;
}

.mission-statement .container .child-two{
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    border-left: 3px solid #FF4901;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}


.video-box{
    background-color:#122b54;
    position:relative;
}

.video-box img{
    height:500px;
    width:100%;
    object-fit:cover;
    opacity:.6;
}

.video-box h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align:center;
    font-weight:bold;
    font-size: 30px;
}

.video-box h2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:orange;
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;

}

#orange{
    color:#FF4901;
}

.volunteer-box{
    background-color:#122b54;
    position:relative;
}

.volunteer-box img{
    height:700px;
    width:100%;
    object-fit:cover;
    opacity:.6;
}

.volunteer-box h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align:center;
    font-weight:bold;
    font-size: 30px;
}

.volunteer-box h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:orange;
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;

}

#copyright{
    float:right;
    color: #81d7db;
}

footer{
    height: 60px;
    background-color: #1CA7AD;
    color:white;
}

.footer-items{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    font-size: 15px;
}