.mission-statement{
    width:100%;
    height:300px;
    background-color: white;
    display:block;
}

.mission-statement .container{
    display:table;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.mission-statement .container .child-one{
    font-size: 43px;;
    font-weight: 600;
    line-height: 1.1;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    padding-right: 40px;
    width: 40%;
    border-right: 3px solid #FF4901;
}

.mission-statement .container .child-two{
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    border-left: 3px solid #FF4901;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}


.video-box{
    background-color:#122b54;
    position:relative;
}

.video-box img{
    height:500px;
    width:100%;
    object-fit:cover;
    opacity:.6;
}

.video-box h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align:center;
    font-weight:bold;
    font-size: 30px;
}

.video-box h2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:orange;
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
}

#video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

#orange{
    color:#FF4901;
}

.volunteer-box{
    background-color:#122b54;
    position:relative;
}

.volunteer-box img{
    height:500px;
    width:100%;
    object-fit:cover;
    opacity:.6;
}

.volunteer-box h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align:center;
    font-weight:bold;
    font-size: 30px;
}

.volunteer-box h2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:orange;
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
}

#volunteer-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

#volunteer-video:hover , #video:hover{
    opacity: .3;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

#copyright{
    float:right;
    color: #81d7db;
}

footer{
    height: 70px;
    background-color: #1CA7AD;
    color:white;
}

.footer-items{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    font-size: 15px;
}

.action-box{
    text-align: center;
    position: relative;
    padding: 5% 20px 6% 20px;
    background: #1CA7AD;
}

.action-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .1;
    object-fit: cover;
}

.action-box h1{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 35.008px;
    font-size: 2.188rem;
    margin-bottom: 30px;
}

.action-box ul{
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
}

.action-box li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    width: 100%;
    max-width: 175px;
    color:white;
    text-align: center;
    font-weight: 700;
    text-decoration: none
}

.action-box h3{
    transition: all .2s ease-in-out;
    border: none;
    outline: none;
    background: #FF4901;
    color: #fff;
    line-height: 1;
    padding: .8em 1.5em .75em 1.5em;
    -webkit-appearance: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    text-decoration: none !important;
    position: relative;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.action-box h2{
    transition: all .2s ease-in-out;
    border: none;
    outline: none;
    background: #F99200;
    color: #fff;
    line-height: 1;
    padding: .8em 1.5em .75em 1.5em;
    -webkit-appearance: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    text-decoration: none !important;
    position: relative;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.action-box h2:hover{
    -webkit-filter: brightness(90%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.contacts-box{
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    background: #6DD1D5;
    display:flex;
    flex-flow: center;
}

.contacts-box h3{
    color: #188e93;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(28,167,173,0.5);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.contacts-box .contact{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    color: #189297;
}

.contacts-box .contact a{
    color: #189297;
    text-decoration: none;
}

.contacts-box .social{
    display: inline-block;
    width: 100%;
    padding: 96px 0px 0px 32px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #189297;
}

.contacts-box .newsletter{
    display: inline-block;
    width: 100%;
    padding: 96px 0px 0px 32px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #189297;
}

.contacts-box div{
    margin-right: 30px;
    margin-left: 30px;
}

.fa-facebook-f {
    color: white;
}

.fa-twitter {
    padding-left: 10%;
    color: white;
}

.fa-instagram {
    padding-left: 10%;
    color: white;
}

.newsletter .input-group-append{
    margin:0;
}

.newsletter input{
    width:70%;
    border:none;
}

.newsletter input:focus {
    outline:none;
}

.newsletter button{
    background-color: #189297;
    color: white;
    font-weight:bold;
    border:none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.newsletter button:focus, .newsletter button:active {
    outline: none !important;
    box-shadow: none;
}

.newsletter button:hover{
    background-color: #189297;
    color:white;
    -webkit-filter: brightness(90%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.modal-video-close-btn:active{
    outline: none;
    border: none;
}